/* Global Definitions */
body {
    background-color: rgb(50, 50, 50);
}

label {
    color: rgb(236, 200, 101);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
}

legend {
    color: rgb(236, 200, 101);
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

button {
    appearance: none;
    background-color: #e9d27e;
    border: 1px inset rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    list-style: none;
    padding: 2px auto;
    margin: 2px;
    text-align: center;
    position: relative;
    /* transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1); */
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    word-wrap: break-word;
}

button:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    /* font-weight: 500; */
    transition-duration: 0.1s;
}
  
button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
}
  
button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
}
  
button:focus {
    outline: 1px transparent;
}
  
button:before {
    display: none;
}
  
button:-webkit-details-marker {
    display: none;
}

/* Fonts */

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contrail-one-regular {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* Buttons located in the hamburger menu */
.hb_button {
    display: block;
    margin: 2px auto;
    width: 120px;
}

/* The space in which the website exists. */
.program_board {
    padding-bottom: 10%;
}

/* Program Header Section          */
/* ----------=--------=----------- */
/* The top of the page, navigation */
/* ----------=--------=----------- */

.program_header {
    color: rgb(118, 66, 28);
    background-color: rgb(224, 193, 108);
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
    grid-auto-rows: minmax(5px, auto);
    border:4px none rgb(133, 118, 60);
    border-style: none double inset double;
    box-shadow: 5px 7px 7px black;
}

/* Bronson icon in top left, brings out hamburger menu */
.site_header {
    color: rgb(118, 66, 28);
    background-color: rgb(205, 177, 99);
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 12px auto;
    border:4px double rgb(133, 60, 60);
    border-radius: 20px;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    
}

.site_header:hover {
    background-color: rgb(211, 181, 98);
    text-decoration: none;
    transition-duration: 0.1s;
    box-shadow: 5px 7px 7px;
  }

/* Middle panel, contains tabs and message of the day */
.middle_section {
    color: rgb(118, 66, 28);
    background-color: rgba(0, 0, 0, 0);
    text-align: left;
    font-family:'Courier New', Courier, monospace;
    display: grid;
    /* grid-area: 2 / 9; */
    grid-column: 2 / 10;
    grid-row: 1;
    /* height: 20px; */
    padding-top: 0px;
    margin: 1px;
}

.middle_test {
    display: inline-grid;
}

.message_header {
    color: rgb(118, 66, 28);
    /* background-color: rgb(224, 193, 108); */
    font-family: "Contrail One", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    display: inline-grid;
    grid-column: 1 / 4;
    grid-row: 1;
    /* vertical-align: end; */
    margin: 10px;
    /* transform: translateX(-3%);*/
} 

.tab_row {
    margin: 14px auto;
    display: inline-grid;
    padding: 5px 0px;
    grid-auto-columns: 1fr;
    grid-column: 1 / auto;
    grid-row: 1;
    transform: translate(-100px , 24px);
}

.toolTab {
    margin: 0px -6px;
    /* display: inline-block;
    vertical-align: middle; */
    padding: 0px 24px;
    /* transform: translateY(26px); */
    /* grid-column: 1 / 12; */
    opacity: 100%;
    grid-row: 1;
    width: 100px;
    text-align: center;
    height: 0; 
    position: relative;
    border-right: 12px solid transparent;
    border-left: 12px solid transparent;
    border-bottom: 39px solid #64603d;
    border-top: 0px solid transparent;
    background-color: transparent;
    box-sizing: content-box;
    /* box-shadow: rgb(27, 31, 35) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset; */
}

.toolTab span { 
    position: absolute;
    top: 9px;
    left: 19px;
    color: rgb(194, 194, 194);
    /* color: #fff; */
}
.toolTab:hover {
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
    border-bottom: 37px solid #94742e;
    border-top: 0px solid transparent;
    text-decoration: none;
    /* font-weight: 500; */
    transition-duration: 0.1s;
    transform: scale(1.1);
    /* z-index: 1; */
    background: transparent;
}

.dbTab {
    grid-column: auto;
    z-index: 0;
}
.chTab {
    grid-column: auto;
    z-index: 1;
}

.jnTab {
    grid-column: auto;
    z-index: 2;
}

.ccTab {
    grid-column: auto;
    z-index: 3;
}

.wikiTab {
    grid-column: auto;
    z-index: 4;
}

.dbTab:active, .chTab:active, .jnTab:active, .ccTab:active, .wikiTab:active {
    background: transparent;
    border-bottom: 39px solid #8f513e;
    transform: translateY(0px);
    /* transform: translateY(-30px); */
}

.dbTab.selected, .chTab.selected, .jnTab.selected, .ccTab.selected, .wikiTab.selected {
    transform: translateY(10px);
    transition-duration: 0.1s;
    border-bottom: 29px solid #7c1919;
    
}
 
/*
▗▖ ▗▖▗▞▀▜▌▄▄▄▄  ▗▖█  ▐▌ ▄▄▄  ▗▞▀▚▖ ▄▄▄ 
▐▌ ▐▌▝▚▄▟▌█ █ █ ▐▌▀▄▄▞▘█     ▐▛▀▀▘█    
▐▛▀▜▌     █   █ ▐▛▀▚▖  █     ▝▚▄▄▖█    
▐▌ ▐▌           ▐▙▄▞▘      ▗▄▖         
                          ▐▌ ▐▌        
                           ▝▀▜▌        
                          ▐▙▄▞▘        

*/

/* This refers to the button in the middle panel */
.hamburger {
    margin: 20px auto;
    display: inline-grid;
    /* vertical-align: middle; */
    border: 2px outset rgb(133, 118, 60);;
    background: none;
    cursor: pointer;
    padding-left: 4px;
    padding-top: 6px;
    padding-right: 4px;
    scale: 70%;
    grid-column: 1 / 2;
    grid-row: 1;
    z-index: 1;
    transform: translate(-78%, 20px)
}

.closeIcon {
    display: none;
}

.hb_menu {
    z-index: 1;
    position: fixed;
    grid-row: 3x;
    border:4px outset rgb(144, 118, 26);
    background: rgb(39, 35, 35);
    transform: translateX(-150%);
    transition: transform 0.2s;
    color: black;
    margin-top: 90px;
    width: 11rem;
    box-shadow: 5px 10px 10px;
}

.ph_legend {
    color: rgb(118, 66, 28);
    background-color: rgb(214, 184, 103);
    border: 2px outset rgb(144, 118, 26);
    font-size: smaller;
}

.ph_fieldset {
    color: rgb(118, 66, 28);
    background-color: rgb(190, 164, 92);
    border: 2px inset rgb(144, 118, 26);
    display: block;
    padding: 3px 15px;
    margin: 5px auto;
    width: fit-content;
    height: fit-content;
}

.menu_ul {
    grid-row: 8 / 3;
    z-index: 1;
    position: fixed;
    grid-row: 3x;
    /* transform: translateX(-150%); */
    transition: transform 0.2s;
    border:4px outset rgb(144, 118, 26);
    background: rgb(39, 35, 35);
    color: white;
    list-style: none;
    margin-top: 5%;
    width: 9rem;
}

.showMenu {
    transform: translateX(0);
}

.menuItem {
    color: white;
}

.menuItem:hover {
    cursor: pointer;
    color: #959DA5;
    border: 2px inset rgb(144, 118, 26);
}

.site_buttons {
    color: rgb(118, 66, 28);
    background-color: rgba(0, 0, 0, 0);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    margin: 4px;
    margin-left: 136px;
}

/*
  _____            _     _             _ 
 |  __ \          | |   | |           | |
 | |  | | __ _ ___| |__ | |__  _ __ __| |
 | |  | |/ _` / __| '_ \| '_ \| '__/ _` |
 | |__| | (_| \__ \ | | | |_) | | | (_| |
 |_____/ \__,_|___/_| |_|_.__/|_|  \__,_|
*/

.db_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.db_console {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgb(50, 50, 50);
    border: 1px solid rgb(144, 118, 26);
    color: rgb(144, 118, 26);;
    box-sizing: border-box;
}

.login_imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
}

img.background {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: rgb(50, 50, 50);
    margin: 10% auto 15% auto;
    border: 1px solid rgb(144, 118, 26);
    width: 40%;
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }

/* JackNet Definitions 
       _            _    _   _      _   
      | |          | |  | \ | |    | |  
      | | __ _  ___| | _|  \| | ___| |_ 
  _   | |/ _` |/ __| |/ / . ` |/ _ \ __|
 | |__| | (_| | (__|   <| |\  |  __/ |_ 
  \____/ \__,_|\___|_|\_\_| \_|\___|\__|
*/

.innerConsole {
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    color:rgb(205, 205, 205);
    background-color: rgb(50, 50, 50);
    border:4px inset rgb(144, 118, 26);
}

.cbDev {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    accent-color:  rgb(236, 200, 101);
    /* color: rgb(50, 50, 50); */
}

.jn_select {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    border: 4px inset rgb(144, 118, 26);
    padding: 2px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

.jn_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.jn_buildSelect {
    grid-column: 2 / 4;
    grid-row: 1;
}

.jn_bottomMenu {
    grid-column: 4 / 7;
    grid-row: 1;
}

.jn_devSelect {
    grid-column: 2 / 7;
    grid-row: 2;
}

.jn_console {
    grid-column: 2 / 7;
    grid-row: 3;
}

.jn_fieldset {
    border:4px outset rgb(144, 118, 26)
}

.vis_container{
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(30,1fr);
    gap: 0px;
    grid-auto-rows: minmax(20px, auto);
    border: 4px outset rgb(144, 118, 26);
}

.visHeader{
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}

.visTile{
    margin: 0px;
    border: 4px inset rgb(144, 118, 26);
}

.rmColumn {
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-auto-columns: auto;
    -ms-grid-column-span: 10;
    grid-row-start: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.devVisFalse {
    background-color: rgb(184, 92, 101);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
}

.devVisTrue {
    background-color: rgb(120, 184, 92);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
}


/* checkerboard Defifnitions 
   _____ _     _         _             _ 
  / ____| |   | |       | |           | |
 | |    | |__ | | ___ __| |__  _ __ __| |
 | |    | '_ \| |/ / '__| '_ \| '__/ _` |
 | |____| | | |   <| |  | |_) | | | (_| |
  \_____|_| |_|_|\_\_|  |_.__/|_|  \__,_|
*/

.cb_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.cb_mapSelect {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 4;
    grid-row: 1;
    float: center;
}

.cb_buttonRow {
    background-color: rgb(50, 50, 50);
    grid-column: 4 / 7;
    grid-row: 1;
}

.cb_console {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 7;
    grid-row: 2;
    font-family:'Courier New', Courier, monospace;
    text-transform: full-width;
    letter-spacing: -0.2em;
}

.cb_fieldset {
    border:4px outset rgb(144, 118, 26);
    float: center;
}

.cb_green {
    background-color: rgb(122,113,45);
    color: rgb(236, 200, 101);
}

.cb_red {
    background-color: rgb(139,24,27);
    color: rgb(236, 200, 101);
}

/* CamCode Defifnitions 
   _____                 _____          _      
  / ____|               / ____|        | |     
 | |     __ _ _ __ ___ | |     ___   __| | ___ 
 | |    / _` | '_ ` _ \| |    / _ \ / _` |/ _ \
 | |___| (_| | | | | | | |___| (_) | (_| |  __/
  \_____\__,_|_| |_| |_|\_____\___/ \__,_|\___|
*/
.cfm_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.cfm_ParamContainer {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 3;
    float: left;
    display: block;
}

.cfm_text {
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 5px;
}

.cfm_fieldset {
    border:4px outset rgb(144, 118, 26);
}

.rmSelect {
    border:4px outset rgb(144, 118, 26);
}

.bdSelect {
    border:4px outset rgb(144, 118, 26);
}

.cfm_FileContainer {
    grid-column: 3 / 7;
    float: right;
    display: block;
}

.cfm_fileSelection {
    background-color: rgb(50, 50, 40);
    box-shadow: 5px 10px 10px;
    border:4px outset rgb(144, 118, 26);    
}

.cfm_list {
    color: rgb(170, 170, 170);
    opacity: 75%;
    padding: 10px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*  Types of Data Entries in cfm_list*/
.cfm_file {
    background-color: rgb(87, 106, 119);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

.cfm_zip {
    background-color: rgb(79, 127, 80);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px outset rgb(144, 118, 26);
    text-align: center;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

.cfm_dir {
    background-color: rgb(138, 101, 71);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px outset rgb(144, 118, 26);
    text-align: right;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

ol li::marker {
    color: rgb(170, 170, 170);
    opacity: 40%;
}

/* Wiki Defifnitions 
 __          ___ _    _ 
 \ \        / (_) |  (_)
  \ \  /\  / / _| | ___ 
   \ \/  \/ / | | |/ / |
    \  /\  /  | |   <| |
     \/  \/   |_|_|\_\_|
*/
textarea:invalid {
    border: 2px dashed red;
  }
  
textarea:valid {
    border: 2px solid lime;
}

/* Container for input and preview */
.w_editor{
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.w_input {
    background-color: rgb(36, 35, 35);
    float: left;
    display: block;
    grid-column: 3 / 7;
    grid-row: 2 / 5;
}

.inputWindow {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color:rgb(205, 205, 205);
    background-color: rgb(50, 50, 50)
}

.w_preview {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    float: right;
    display: block;
    grid-column: 7 / 11;
    grid-row: 2 / 5;
    border:4px outset rgb(142, 136, 117);
    /* box-shadow: 5px 10px 10px; */
}

.w_optionMenu {
    display: block;
    grid-column: 3 / 11;
    border:4px outset rgb(89, 85, 73);
}

.w_toc {
    background-color: rgb(173, 169, 110);
    display: block;
    border:4px outset rgb(89, 85, 73);
    grid-column: 2;
    grid-row: 1 / 5;
}

.w_fieldset {
    border:4px inset rgb(102, 98, 84);
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
}

.w_legend {
    border:2px outset rgb(102, 98, 84);
    background-color: rgb(50, 50, 50);

}

/* Terminal definitions

*/
.terminal_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

#terminal {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    border: 2px none rgb(236, 200, 101);
}