/* Global Definitions */
body {
    background-color: rgb(50, 50, 50);
}

/* Other */
label {
    color: rgb(236, 200, 101);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
}

ul {
    list-style-type: none;
}

legend {
    color: rgb(236, 200, 101);
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

.racing-sans-one-regular {
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.contrail-one-regular {
    font-family: "Contrail One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/*  HEADER BUTTON STYLE */
/* .headButton {
    border: none;
    color: rgb(69, 69, 69);
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
} */
.headButton {
    appearance: none;
    background-color: #e9d27eb6;
    border: 1px inset rgba(27, 31, 35, 0.15);
    box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
    box-sizing: border-box;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 2px 8px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;
  }
  
  .headButton:hover {
    background-color: #F3F4F6;
    text-decoration: none;
    transition-duration: 0.1s;
  }
  
  .headButton:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
  }
  
  .headButton:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
  }
  
  .headButton:focus {
    outline: 1px transparent;
  }
  
  .headButton:before {
    display: none;
  }
  
  .headButton:-webkit-details-marker {
    display: none;
  }

/* Program Header        .program_header
    Site (Dashboard Button) - .site_header
    text                    - .p_header
    Selected Tool           - .tool_header

    Tool Buttons            - .tool_buttons
    Site Buttons            - .site_buttons
*/
.program_header {
    color: rgb(118, 66, 28);
    background-color: rgb(224, 193, 108);
    position: relative;
    display: grid;
    grid-template-columns: repeat(10,1fr);
    gap: 10px;
    grid-auto-rows: minmax(10px, auto);
    border:4px none rgb(133, 118, 60);
    border-style: none double inset double;
}

.site_header {
    color: rgb(118, 66, 28);
    background-color: rgb(205, 177, 99);
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;
    grid-column: 2 / 3;
    grid-row: 1;
    margin: 5px;
    border:4px outset rgb(133, 118, 60);
    cursor: pointer;
    padding-left: 2px;
    padding-right: 2px;
}

.site_header:hover {
    background-color: rgb(211, 181, 98);
    text-decoration: none;
    transition-duration: 0.1s;
  }

.tool_header {
    color: rgb(118, 66, 28);
    background-color: rgb(176, 154, 91);
    text-align: center;
    font-family: "Racing Sans One", sans-serif;
    font-weight: 400;
    vertical-align: middle;
    grid-column: 8 / 10;
    grid-row: 1;
    margin: 10px;
    border:4px inset rgb(207, 184, 94);
}

.p_header {
    color: rgb(118, 66, 28);
    background-color: rgb(224, 193, 108);
    text-align: left;
    font-family: "Contrail One", sans-serif;
    font-size: large;
    font-weight: 400;
    font-style: normal;
    grid-column: 3 / 7;
    grid-row: 1;
    margin: 20px;
}

.ph_legend {
    color: rgb(118, 66, 28);
    background-color: rgb(214, 184, 103);
    border: 2px outset rgb(144, 118, 26);
}

.ph_fieldset {
    color: rgb(118, 66, 28);
    background-color: rgb(190, 164, 92);
    border: 2px inset rgb(144, 118, 26)
}

.tool_buttons {
    color: rgb(118, 66, 28);
    background-color: rgb(224, 193, 108);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    grid-column: 2 / 6;
    grid-row: 2;
    margin: 5px;
}
 
.site_buttons {
    color: rgb(118, 66, 28);
    background-color: rgb(224, 193, 108);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    grid-column: 6 / 10;
    grid-row: 2;
    margin: 5px;
}

/*
  _____            _     _             _ 
 |  __ \          | |   | |           | |
 | |  | | __ _ ___| |__ | |__  _ __ __| |
 | |  | |/ _` / __| '_ \| '_ \| '__/ _` |
 | |__| | (_| \__ \ | | | |_) | | | (_| |
 |_____/ \__,_|___/_| |_|_.__/|_|  \__,_|
*/

.db_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.db_console {
    grid-column: 2 / 7;
    grid-row: 1 / 2;
}

/* JackNet Definitions 
       _            _    _   _      _   
      | |          | |  | \ | |    | |  
      | | __ _  ___| | _|  \| | ___| |_ 
  _   | |/ _` |/ __| |/ / . ` |/ _ \ __|
 | |__| | (_| | (__|   <| |\  |  __/ |_ 
  \____/ \__,_|\___|_|\_\_| \_|\___|\__|
*/

.innerConsole {
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    float: left;
    color:rgb(205, 205, 205);
    background-color: rgb(50, 50, 50);
    border:4px inset rgb(144, 118, 26);
}

.cbDev {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    accent-color:  rgb(236, 200, 101);
    /* color: rgb(50, 50, 50); */
}

.jn_select {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    border: 4px inset rgb(144, 118, 26);
    padding: 2px;
    text-align: left;
    font-family:'Courier New', Courier, monospace;
}

.jn_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.jn_buildSelect {
    grid-column: 2 / 4;
    grid-row: 1;
}

.jn_bottomMenu {
    grid-column: 4 / 7;
    grid-row: 1;
}

.jn_devSelect {
    grid-column: 2 / 7;
    grid-row: 2;
}

.jn_console {
    grid-column: 2 / 7;
    grid-row: 3;
}

.jn_fieldset {
    border:4px outset rgb(144, 118, 26)
}

.vis_container{
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(30,1fr);
    gap: 0px;
    grid-auto-rows: minmax(20px, auto);
    border: 4px outset rgb(144, 118, 26);
}

.visHeader{
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 7;
    grid-row: 1 / 5;
}

.visTile{
    margin: 0px;
    border: 4px inset rgb(144, 118, 26);
}

.rmColumn {
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-auto-columns: auto;
    -ms-grid-column-span: 10;
    grid-row-start: auto;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.devVisFalse {
    background-color: rgb(184, 92, 101);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
}

.devVisTrue {
    background-color: rgb(120, 184, 92);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
}


/* checkerboard Defifnitions 
   _____ _     _         _             _ 
  / ____| |   | |       | |           | |
 | |    | |__ | | ___ __| |__  _ __ __| |
 | |    | '_ \| |/ / '__| '_ \| '__/ _` |
 | |____| | | |   <| |  | |_) | | | (_| |
  \_____|_| |_|_|\_\_|  |_.__/|_|  \__,_|
*/

.cb_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.cb_mapSelect {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 4;
    grid-row: 1;
    float: center;
}

.cb_buttonRow {
    background-color: rgb(50, 50, 50);
    grid-column: 4 / 7;
    grid-row: 1;
}

.cb_console {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 7;
    grid-row: 2;
    font-family:'Courier New', Courier, monospace;
    text-transform: full-width;
    letter-spacing: -0.2em;
}

.cb_fieldset {
    border:4px outset rgb(144, 118, 26);
    float: center;
}

.cb_green {
    background-color: rgb(122,113,45);
    color: rgb(236, 200, 101);
}

.cb_red {
    background-color: rgb(139,24,27);
    color: rgb(236, 200, 101);
}

/* CamCode Defifnitions 
   _____                 _____          _      
  / ____|               / ____|        | |     
 | |     __ _ _ __ ___ | |     ___   __| | ___ 
 | |    / _` | '_ ` _ \| |    / _ \ / _` |/ _ \
 | |___| (_| | | | | | | |___| (_) | (_| |  __/
  \_____\__,_|_| |_| |_|\_____\___/ \__,_|\___|
*/
.cfm_container {
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.cfm_ParamContainer {
    background-color: rgb(50, 50, 50);
    grid-column: 2 / 3;
    float: left;
    display: block;
}

.cfm_text {
    color: rgb(205, 177, 99);
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: 1 / 2;
    grid-row: 1;
    margin: 5px;
}

.cfm_fieldset {
    border:4px outset rgb(144, 118, 26);
}

.rmSelect {
    border:4px outset rgb(144, 118, 26);
}

.bdSelect {
    border:4px outset rgb(144, 118, 26);
}

.cfm_FileContainer {
    grid-column: 3 / 7;
    float: right;
    display: block;
}

.cfm_fileSelection {
    background-color: rgb(50, 50, 40);
    box-shadow: 5px 10px 10px;
    border:4px outset rgb(144, 118, 26);    
}

.cfm_list {
    color: rgb(170, 170, 170);
    opacity: 75%;
    padding: 10px;
    margin: 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*  Types of Data Entries in cfm_list*/
.cfm_file {
    background-color: rgb(87, 106, 119);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px inset rgb(144, 118, 26);
    text-align: left;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

.cfm_zip {
    background-color: rgb(79, 127, 80);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px outset rgb(144, 118, 26);
    text-align: center;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

.cfm_dir {
    background-color: rgb(138, 101, 71);
    color: rgb(236, 200, 101);
    border-radius: 4px;
    border: 2px outset rgb(144, 118, 26);
    text-align: right;
    padding: 5px;
    margin: 0px 0;
    cursor: pointer;
}

ol li::marker {
    color: rgb(170, 170, 170);
    opacity: 40%;
}

/* Wiki Defifnitions 
 __          ___ _    _ 
 \ \        / (_) |  (_)
  \ \  /\  / / _| | ___ 
   \ \/  \/ / | | |/ / |
    \  /\  /  | |   <| |
     \/  \/   |_|_|\_\_|
*/
textarea:invalid {
    border: 2px dashed red;
  }
  
textarea:valid {
    border: 2px solid lime;
}

/* Container for input and preview */
.w_editor{
    position: relative;
    background-color: rgb(50, 50, 50);
    display: grid;
    grid-template-columns: repeat(11,1fr);
    gap: 10px;
    grid-auto-rows: minmax(20px, auto);
}

.w_input {
    background-color: rgb(36, 35, 35);
    float: left;
    display: block;
    grid-column: 3 / 7;
    grid-row: 2 / 5;
}

.inputWindow {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    color:rgb(205, 205, 205);
    background-color: rgb(50, 50, 50)
}

.w_preview {
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
    float: right;
    display: block;
    grid-column: 7 / 11;
    grid-row: 2 / 5;
    border:4px outset rgb(142, 136, 117);
    /* box-shadow: 5px 10px 10px; */
}

.w_optionMenu {
    display: block;
    grid-column: 3 / 11;
    border:4px outset rgb(89, 85, 73);
}

.w_toc {
    background-color: rgb(173, 169, 110);
    display: block;
    border:4px outset rgb(89, 85, 73);
    grid-column: 2;
    grid-row: 1 / 5;
}

.w_fieldset {
    border:4px inset rgb(102, 98, 84);
    background-color: rgb(50, 50, 50);
    color: rgb(236, 200, 101);
}

.w_legend {
    border:2px outset rgb(102, 98, 84);
    background-color: rgb(50, 50, 50);

}